{% extends 'HZ/layout.html'%}
{% block title%}Добавление товара в базу{% endblock%}

{% block content%}

    <dif class ='features'>
        <h1>Добавление товара в базу</h1>
        <form method="post">
            {% csrf_token %}
            {{ prod.name }}
            {{ prod.articul }}
            {{ prod.kod }}
            {{ prod.kolichestvo }}
            {{ prod.color }}
            {{ prod.size }}
            {{ prod.gender }}
            <button class="btn btn-success" type="submit"> Добавить </button>

        </form>
    </dif>

    {% include 'HZ/test.html'%}
{% endblock%}


